<!DOCTYPE html>
<html>
  <head>
      <title>Flask Shop</title>
  </head>
  <body>
    <form action = "http://localhost:5000/result" method = "POST">
         <p> wanted job <input type = "text" name = "wanted_job" /></p>
         <p>current job <input type = "text" name = "current_job" /></p>
         <p>prev job <input type = "text" name = "previous_job" /></p>
         <p>degree <input type ="text" name = "degree" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>

  </body>
</html>
